<div class="container-fluid" id="root">
    <div class="row">
        <div class="d-md-none col-xl-2 d-xl-block">
            <div class="row d-md-flex d-xl-flex flex-column">
                <div
                    class="col-xl-12 col-v-xl-2 d-xl-flex align-items-xl-center justify-content-xl-center"
                >
                    <h4 class="fw-bolder">PlantShop.co</h4>
                </div>
                <div
                    class="col-xl-12 col-v-xl-6 d-xl-flex align-items-xl-center justify-content-xl-center"
                >
                    <div class="rotate-xl-90">
                        <h3 class="display-6">PlantShop</h3>
                    </div>
                </div>

                <div
                    class="col-xl-12 col-v-xl-2 d-xl-flex align-items-xl-center justify-content-xl-center"
                >
                    <div class="row">
                        <div class="col-4">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="col-4">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <div class="col-4">
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="col-md-4 col-v-md-10 col-xl-4 col-v-xl-10 img Nothing"
            id="img"
        ></div>
        <div class="col-md-7 col-xl-5 main">
            <div class="container-fluid">
                <div
                    class="col-xl-12 d-flex align-items-end justify-content-start col-v-md-1 col-v-xl-1"
                >
                    <h4 class="fw-bolder">
                        <i class="fa-solid fa-leaf"></i>
                    </h4>
                </div>
                <div
                    class="col-12 col-v-4 d-flex justify-content-start align-items-center"
                >
                    <!-- -->
                    <div class="row">
                        <div class="col-md-12 col-xl-11">
                            <h5
                                id="titleContainer"
                                class="display-5 fw-bold"
                            ></h5>
                            <div class="border border-4 col-4"></div>
                            <p class="py-2" id="plantText">
                                <!-- ======================== -->

                                <!-- ======================== -->
                            </p>
                            <div class="row">
                                <div
                                    class="col-6 col-6 d-flex align-items-center"
                                >
                                    <button
                                        type="button"
                                        class="btn btn-outline-success-my"
                                    >
                                        <span> Add to cart</span>
                                    </button>
                                </div>
                                <div
                                    class="col-6 d-flex align-items-center justify-content-center text-center"
                                >
                                    <h2 id="price"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                </div>
                <div
                    class="col-12 col-v-4 d-inline-flex flex-row justify-content-start align-items-center"
                    id="plantList"
                >
                    <div
                        class="col-12 d-flex d-inline-flex flex-row justify-content-start align-items-center"
                        id="plants"
                    >
                        <!-- =========== Here I have list of cards ============== -->
                    </div>
                </div>
                <div
                    class="col-12 col-v-1 d-flex align-items-center justify-content-center"
                >
                    <div class="col-12 row d-flex align-items-center">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-4">
                                    <button type="button" id="left" class="btn">
                                        <i class="fas fa-long-arrow-left"></i>
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button
                                        type="button"
                                        id="right"
                                        class="btn"
                                    >
                                        <i class="fas fa-long-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="">
                                <p class="display-6 fw-bold"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-md-1 col-v-md-10 col-xl-1 col-v-xl-10 d-flex justify-content-between flex-column bg-light"
            id="mainMenu"
        >
            <nav class="navbar col-xl-12">
                <!--button
                    type="button"
                    class="navbar-toggler col-v-xl-2 col-v-md-1 d-flex align-items-center justify-content-center"
                    aria-controls="menu"
                    aria-expanded="false"
                    aria-label="Toggler"
                >
                    <!--i
                        class="navbar-toggler-icon fas fa-bars d-flex align-items-center justify-content-center"
                    ></i-->
                </button>
                <div class="navbar-collapse" id="menu">
                    <ul class="navbar-nav me-auto my-5 mb-lg-0 bg-light">
                        <li class="nav-item col-v-1">
                            <a href="#" class="nav-link">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="nav-item col-v-1">
                            <a href="/shop/panel" class="nav-link">
                                <i class="fas fa-user"></i>  
                                
                            </a>
                        </li>
                        <li class="nav-item col-v-1">
                            <a href="#" class="nav-link">
                                <i class="fas fa-bell"></i>
                                
                            </a>
                        </li>
                        <li class="nav-item col-v-1">
                            <a href="#" class="nav-link">
                                <i class="fas fa-map-marker-alt"></i>
                            </a>
                        </li>
                        <li class="nav-item col-v-1">
                            <a href="#" class="nav-link">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div
                class="col-md-12 col-xl-12 col-v-md-1 navbar d-flex align-items-center col-v-2"
            >
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
    </div>
</div>
<script src="../scripts/components/cardCreate.js" type="module"></script>
<script src="../scripts/arrowController.js" type="module"></script>
